{% extends "base.html" %}
{% load static %}

{% block title %}Управляй задачами и проектами{% endblock %}

{% block links %}
	<link rel="stylesheet" href='{% static "form.css" %}'>
{% endblock %}

{% block content %}
<main>
	<form class="form-signin text-center" action="/login" method="post">
		{% csrf_token %}
	  <h1 class="h3 mb-3 font-weight-normal">Авторизация:</h1>
	  {% if error %}
	  	<div class="alert alert-warning">{{ error }}</div>
	  {% endif %}
	  <input type="text" name="username" class="form-control" placeholder="Ivan Ivanov" required autofocus>
	  <input type="password" name="password" class="form-control" placeholder="********" required>
	  <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
	</form>
</main>
{% endblock %}